@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

pre {
  margin: 0;
  padding: 0;
  background: transparent !important;
}

code {
  font-family: 'Fira Code', monospace;
  font-size: 0.9em;
  line-height: 1.5;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: transparent !important;
}

.dot-background {
  width: 100%;
  height: 100%;
  z-index: -1;

  background-image: 
    /* Виньетка */ radial-gradient(
      circle at center,
      transparent 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    /* Точки по горизонтали */
      radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.06) 1px,
        transparent 1px
      ),
    /* Точки по вертикали */
      radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.06) 1px,
        transparent 1px
      );

  background-size: 100% 100%, /* размер виньетки */ 25px 25px,
    /* размер сетки по горизонтали */ 25px 25px; /* размер сетки по вертикали */

  background-position: center, /* позиция виньетки */ 0 0,
    /* позиция горизонтальных точек */ 0 0; /* позиция вертикальных точек */
}
